<nav class="navigation">
  <a href="#about">{{ 'nav.about' | transloco }}</a>
  <a href="#projects">{{ 'nav.projects' | transloco }}</a>
  <a href="#contact">{{ 'nav.contact' | transloco }}</a>
  <button (click)="toggleLanguage()">{{ 'toggleLang' | transloco }}</button>
</nav>

<main>
  <section id="about">
    <h2>{{ 'aboutMe.title' | transloco }}</h2>
    <p>{{ 'aboutMe.content' | transloco }}</p>
  </section>

  <section id="projects">
    <h2>{{ 'projects.title' | transloco }}</h2>
    <ul>
      <li *ngFor="let project of projects">
        <h3>{{ project.nameKey | transloco }}</h3>
        <p>{{ project.descriptionKey | transloco }}</p>
      </li>
    </ul>
  </section>

  <section id="contact">
    <h2>{{ 'contact.title' | transloco }}</h2>
    <p>
      {{ 'contact.email' | transloco }}:
      <a href="mailto:{{ email }}">{{ email }}</a>
    </p>
  </section>
</main>
